body {
    font-family: Arial,sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

input, button {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
}

#app {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(0,0,0,0.1);
}

#itemList {
    list-style: none;
    padding: 0;
}

#clearListButton {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    background-color: #ff6961;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#clearListButton:hover {
    background-color: #ff5c5c;
}

.comprado {
    text-decoration: line-through;
    color: gray;
}