body {
    font-family: Arial,sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, rgba(83, 83, 83, 0.555), #fff);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



input, button {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
}

#app {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(0,0,0,0.1);
}

#itemList {
    list-style: none;
    padding: 0;
}

#addItemButton {
    color: #000000;
    background-color: rgb(163, 163, 163);
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    font-size: 16px;
}

#addItemButton:hover {
    background-color: gray;
    color: #fff;
}

#clearListButton {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    background-color: #ff6961;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#clearListButton:hover {
    background-color: #ff5c5c;
    color: #fff;
}

.comprado {
    text-decoration: line-through;
    color: gray;
}